In [5]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import datetime
import requests
import json
from pprint import pprint

In [6]:
# Load CSV Files into Dataframes
games_file = "data/games.csv"
atbats_file = "data/atbats.csv"
player_name_file = "data/player_names.csv"

games_pd = pd.read_csv(games_file)
atbats_pd = pd.read_csv(atbats_file)
player_name_pd = pd.read_csv(player_name_file)

games_atbats_merge_pd = pd.merge(games_pd, atbats_pd, how="left", on=["g_id"])
games_atbats_merge_pd.head()

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,...,ab_id,batter_id,event,inning,o,p_score,p_throws,pitcher_id,stand,top
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000001,572761,Groundout,1,1,0,L,452657,L,True
1,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000002,518792,Double,1,1,0,L,452657,L,True
2,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000003,407812,Single,1,1,0,L,452657,R,True
3,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000004,425509,Strikeout,1,2,0,L,452657,R,True
4,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000005,571431,Strikeout,1,3,0,L,452657,L,True

In [7]:
#Average Homeruns at home vs Attendance
games_atbats_merge_pd.columns

Index(['attendance', 'away_final_score', 'away_team', 'date', 'elapsed_time',
       'g_id', 'home_final_score', 'home_team', 'start_time', 'umpire_1B',
       'umpire_2B', 'umpire_3B', 'umpire_HP', 'venue_name', 'weather', 'wind',
       'delay', 'ab_id', 'batter_id', 'event', 'inning', 'o', 'p_score',
       'p_throws', 'pitcher_id', 'stand', 'top'],
      dtype='object')

In [8]:
# Creating a dictionary for the team names based on abbrev.
teams = {
    "LAA": "Angels",
    "OAK": "Athletics",
    "MIL": "Brewers",
    "CHC": "Cubs",
    "ARI": "Diamondbacks",
    "LAD": "Dodgers",
    "SFN": "Giants",
    "CLE": "Indians",
    "SEA": "Mariners",
    "SDN": "Padres",
    "TEX": "Rangers",
    "CIN": "Reds",
    "KCN": "Royals",
    "CWS": "White Sox",
    "HOU": "Astros",
    "TOR": "Blue Jays",
    "ATL": "Braves",
    "STL": "Cardinals",
    "COL": "Colorado",
    "MIA": "Marlins",
    "NYM": "Mets", 
    "WSH": "Nationals",
    "BAL": "Orioles",
    "PHI": "Phillies",
    "PIT": "Pirates",
    "TBN": "Rays"
}

print(teams)

{'LAA': 'Angels', 'OAK': 'Athletics', 'MIL': 'Brewers', 'CHC': 'Cubs', 'ARI': 'Diamondbacks', 'LAD': 'Dodgers', 'SFN': 'Giants', 'CLE': 'Indians', 'SEA': 'Mariners', 'SDN': 'Padres', 'TEX': 'Rangers', 'CIN': 'Reds', 'KCN': 'Royals', 'CWS': 'White Sox', 'HOU': 'Astros', 'TOR': 'Blue Jays', 'ATL': 'Braves', 'STL': 'Cardinals', 'COL': 'Colorado', 'MIA': 'Marlins', 'NYM': 'Mets', 'WSH': 'Nationals', 'BAL': 'Orioles', 'PHI': 'Phillies', 'PIT': 'Pirates', 'TBN': 'Rays'}

In [11]:
team_dc = {
    "Abbreviations": ["laa", "oak", "mil", "chc", "ari", "lad",
                     "sfn", "cle", "sea", "sdn", "tex", "cin",
                     "kcn", "cws", "hou", "tor", "atl", "stl",
                     "col", "mia", "nym", "wsh", "bal", "phi",
                     "pit", "tbn", "bos", "det", "min", "nyy",],
    "Team Name": ["Angels", "Athletics", "Brewers", "Cubs",
                 "Diamondbacks", "Dodgers", "Giants", "Indians",
                 "Mariners", "Padres", "Rangers", "Reds", "Royals",
                 "White Sox", "Astros", "Blue Jays", "Braves",
                 "Cardinals", "Colorado", "Marlins", "Mets",
                 "Nationals", "Orioles", "Phillies", "Pirates",
                 "Rays", "Red Sox", "Tigers", "Twins", "Yankees"]
}

teams_df = pd.DataFrame(team_dc)
teams_df

   Abbreviations     Team Name
0            laa        Angels
1            oak     Athletics
2            mil       Brewers
3            chc          Cubs
4            ari  Diamondbacks
5            lad       Dodgers
6            sfn        Giants
7            cle       Indians
8            sea      Mariners
9            sdn        Padres
10           tex       Rangers
11           cin          Reds
12           kcn        Royals
13           cws     White Sox
14           hou        Astros
15           tor     Blue Jays
16           atl        Braves
17           stl     Cardinals
18           col      Colorado
19           mia       Marlins
20           nym          Mets
21           wsh     Nationals
22           bal       Orioles
23           phi      Phillies
24           pit       Pirates
25           tbn          Rays
26           bos       Red Sox
27           det        Tigers
28           min         Twins
29           nyy       Yankees